body {
}

* {
    border: 2px solid rgb(51, 45, 45);
}

.maps {
    width: 200px;
    height: 200px;
}

.banner {
    width: 200px;
}

a {
    text-decoration: none;
}

/*first*/

.first {

    display: flex;
    justify-content: center;
    
}

.head {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin-bottom: 50px;
}

.top {
  display: flex;
  justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    gap: 20px;
}

.bottom {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.links, .logo, .hero, .image {
    flex: 1;
}

/*second*/
.second {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images {
    display: flex;
    gap: 10px;
}

/*third*/
.third {
    display: flex;
    justify-content: center;
}
.text {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.quoter {
    align-self: flex-end;
}

/*fourth*/
.fourth {
    display: flex;
    justify-content: center;
}

.item {
    display: flex;
    justify-content: space-between;
    width: 900px;
}

/*footer*/
.footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}






