body {
    display: flex;
    flex-direction:column ;
}

.first {

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    border: 2px solid red;
    
}

.menu {
  display: flex;
  justify-content: space-between;
}


ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.container { 
    display: flex;
    justify-content: space-between;

}

.container div {
    border: 2px solid blue;
    height: 100px;
}


