body {
}

* {
    border: 2px solid gold;
}

.first {

    display: flex;
    justify-content: center;
    border: 2px solid red;
    
}

.head {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin-bottom: 50px;
}

.top {
  display: flex;
  justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    gap: 20px;
}

.bottom {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.links, .logo, .hero, .image {
    flex: 1;
}

/*second*/






